<header class="nav">
  <a class="brand" href="{{ '/' | relative_url }}">Hilton Head Guide</a>

  <nav class="links">
    <a href="{{ '/guides/hilton-head-beaches/' | relative_url }}">Beaches</a>
    <a href="{{ '/guides/hilton-head-golf/' | relative_url }}">Golf</a>
    <a href="{{ '/guides/hilton-head-rentals/' | relative_url }}">Rentals</a>
    <a href="{{ '/guides/hilton-head-activities/' | relative_url }}">Activities</a>
    <a href="{{ '/contact/' | relative_url }}">Contact</a>
  </nav>
</header>
